In [1]:
import numpy as np
import pandas as pd

In [2]:
math_grades = [11,12,11,7,9.5,15,18]
science_grades = [9, 11, 18,15.5,12,18.5,15.5]
reading_grades = [16,8.5,11.5,11,10.5,7,11]
history_grades = [13.5,10,9,14,14,12,7.5]

In [4]:
print(np.mean(math_grades))
print(np.mean(science_grades))
print(np.mean(reading_grades))
print(np.mean(history_grades))

11.928571428571429
14.214285714285714
10.785714285714286
11.428571428571429

In [5]:
print(np.median(math_grades))

11.0

In [6]:
import statistics
statistics.mode(history_grades)

14

In [12]:
df = pd.DataFrame({'math_grades':math_grades,
                   'science_grades':science_grades,
                   'reading_grades':reading_grades,
                   'history_grades':history_grades
                  })
df.corr()

                math_grades  science_grades  reading_grades  history_grades
math_grades        1.000000        0.269494       -0.268562       -0.718358
science_grades     0.269494        1.000000       -0.527606       -0.358688
reading_grades    -0.268562       -0.527606        1.000000        0.206794
history_grades    -0.718358       -0.358688        0.206794        1.000000

In [13]:
print("Math and science have strongest correlation")

Math and science have strongest correlation

In [21]:
recent_math_grades=[24, 5, 15, 60, 54, 82, 99, 80, 70, 98, 93, 60, 33, 22, 65, 61, 51, 58, 83, 86, 42, 67, 60]
def desc_stats(numbers):
    mean = np.mean(numbers)
    median = np.median(numbers)
    mode = statistics.mode(numbers)
    minimum = min(numbers)
    maximum = max(numbers)
    range = maximum - minimum
    variance = np.var(numbers)
    std_dev = np.std(numbers)
   
    print(f"Mean: {mean:.2f}")
    print(f"Median: {median:.2f}")
    print(f"Mode: {mode:.2f}")
    print(f"Minimum: {minimum:.2f}")
    print(f"Maximum: {maximum:.2f}")
    print(f"Range: {range:.2f}")
    print(f"Variance: {variance:.2f}")
    print(f"Standard deviation: {std_dev:.2f}")
    
desc_stats(recent_math_grades)

Mean: 59.48
Median: 60.00
Mode: 60.00
Minimum: 5.00
Maximum: 99.00
Range: 94.00
Variance: 664.16
Standard deviation: 25.77

Extended challenge: I would curve the grades because the average is close to 60 which is in the "F" range. I would curve it to at least a C.